body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: blanchedalmond;
}

.navbar navbar-expand-lg navbar-light bg-light{
    background-color: rgb(255, 0, 0);

}

.navbarNav {
    background-color: brown;
}       